<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>{{{data.name}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>












<body><main>
    <div class="container">
        <div class="row">
          <h2>Demo</h2>
          <div id="root"></div>


<script type="text/babel">
 

  const dogs = {{{data}}}
  //console.log(dogs)


  const Dogs = (props) => {
    console.log('Props:' + props)
    const listItems = props.data.map((item) =>
    <li key={item._id} onClick={props.clickHandler}>
        {item.name}
    </li>);
    return <ul>{listItems}</ul>
  }
  


  ReactDOM.render(
      <div><Dogs data={dogs} /></div>,
      document.getElementById('root')
  );


</script>

    </div>
</main></body>
</html>