@import url(https://fonts.googleapis.com/css?family=Raleway:400,800|Roboto+Slab:300);

body {
  font-family: Roboto Slab;
  background-color: black;
}
.card {
  margin: 2rem auto;
}
.card-title {
  margin: 1rem;
  font-family: Raleway;
  font-weight: 900;
}